.people {
	text-align:center;
}
.play {
	text-align:center;
	padding-top:30px;
}
.person  {
	font-size:17px;
	font-weight: bold;
}
.name {
	font-size:18px;
    font-weight: bold;
    color: white;
    background: green;
	padding: 10px;
	display: none;
}
.mass {
	font-size:16px;
    font-weight: bold;
    color: white;
    background: rebeccapurple;
	padding: 10px;
	display: none;
}
.mass::before {
	content: "Mass: ";
}
.name::before {
	content: "Name: ";
}
.score::before {
	content: "Score: ";
}
#winner {
	font-size:16px;
    font-weight: bold;
    color: white;
    background: red;
	padding: 10px;
	margin-bottom: 10px;
}
.people > div {
	border-radius: 15px;
	margin: 5px;
}
#enemy {
	margin-bottom: 10px;
}